{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ flatpage.title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'public/css/style.css' %}">
</head>
<body>
	<div class="user-block">
		<div class="container">
			<div class="login">
				<div class="user-log">
				<a href="#">Войти</a>
				</div>
				<div class="user-reg">
				<a href="#">Зарегистрироваться</a>
				</div>
			</div>
			<div class="shopping-cart">
				<a href="#">Корзина</a>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<div class="left">
				<div class="logo">
					<a href="#"><img src="{% static 'public/images/logo.png' %}"></a>
				</div>
				<div class="search">
          <input type="text" value="" placeholder="Я ищу...">
          <button></button>
        </div>
			</div>
			<div class="right">
				<div class="contact">+996 (701) 11 22 77</div>
				<div class="call">Позвоните нам</div>
			</div>
    </div>
  </div>
  <nav>
  	<div class="container">
  		<div class="left">
  			<ul class="menu">
  				<li><a href="#">Полиграфия</a></li>
  				<li><a href="#">Дизайн</a></li>
  				<li><a href="#">Наши работы</a></li>
  				<li><a href="#">Оплата</a></li>
  				<li><a href="#">Контакты</a></li>
  			</ul>
  		</div>	
  	</div>
  </nav>
    {{ flatpage.content }}
    <div class="footer">
      <div class="container">
        <div class="left">
          <div class="info">
            <div class="headline">
              <h3>Информация</h3>
            </div>
            <ul>
              <li><a href="#">Полиграфия</a></li>
              <li><a href="#">Дизайн</a></li>
              <li><a href="#">Наши работы</a></li>
              <li><a href="#">Оплата</a></li>
            </ul>
          </div>
          <div class="adress">
            <div class="headline">
              <h3>Контакты</h3>
            </div>
            <ul>
              <li>Телефон: +996 (312) 56 30 77</li>
              <li>Моб.: +996 (701) 11 22 77</li>
              <li>Почта: office@proindigo.kg</li>
              <li>г.Бишкек, ул. Медерова, 44.</li>
              <li><img src="{% static 'public/images/logo-in' %}-bottom.png"> </li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="avtor">
            <ul>
            <li>Copyright © Канат Кыдырмаев</li>
            <li>При полном или частичном использовании материала,</li>
            <li>ссылка на сайт "www.proindigo.kg" обязательна!</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="like">
          <h5>Расскажите о нас друзьям:</h5>
          <ul>
            <li><a href="#">Твитнуть</a></li>
            <li><a href="#">Нравится</a></li>
            <li><a href="#">Лайкнуть</a></li>
            <li><a href="#">Класс</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>