@import "reset.css";
body{
	background-color: #fff;
	font-family: sans-serif;
}
@font-face{
	src:url("../fonts/NexaLight.otf");
	font-family: "nexa";
	font-weight: 100;
}
@font-face{
	src:url("../fonts/NexaBold.otf");
	font-family: "nexa";
	font-weight: 500;
}
.user-block{
	background-color: #054673;
	height: 25px;
	font-size: 10px;
	line-height: 15px;
}
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}	/*--Начало блока пользователя--*/
.user-log{
	float: left;
	background-image: url("../images/icons/login.png");
	background-repeat: no-repeat;
	margin-right: 20px;
	margin-top: 5px;
	height: 15px;
}
.user-reg{
	float: left;
	background-image: url("../images/icons/register.png");
	background-repeat: no-repeat;
	margin-top: 5px;
	height: 15px;
}
.shopping-cart{
	float: right;
	background-image: url("../images/icons/cart.png");
	background-repeat: no-repeat;
	margin-top: 5px;
	height: 15px;
}
.user-log a{
	margin-left: 20px;
	color: #cef;
	text-decoration: none;
}
.user-reg a{
	margin-left: 20px;
	color: #cef;
	text-decoration: none;
}
.shopping-cart a{
	margin-left: 25px;
	color: #cef;
	text-decoration: none;
}	/*--Конец блока пользователя--*/
	/*--Начало блока шапки--*/
.header{
	background-color: #cef;
	height: 60px;
	font-size: 15px;
	color: #fff;
}
.left{
	float: left;
}
.logo{
	margin-top: 10px;
	position: absolute;
}
.search {
	margin-top: 15px;
}
.search input{
	width: 130px;
	height: 30px;
	color: #959595;
	font-size: 14px;
	padding: 0px 10px;
	border: 0px;
	border-radius: 5px 0px 0px 5px;
	margin-left: 150px;
	float: left;
}

.search button{
	background-image: url("../images/icons/search.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	outline: medium none;
	border: medium none;
	height: 30px;
	width: 50px;
	background-color: #054673;
	border-radius: 0px 5px 5px 0px; 
}
.right{
	float: right;
}
.contact{
	font-size: 25px;
	margin-top: 10px;
	color: #054673;
}
.call{
	font-size: 14px;
	margin-top: 5px;
	color: #054673;
	float: right;
}
.menu{
	width: 960px;
	margin: 20px 0;
}
.menu li{
	display: inline-block;
}
.menu a{
	text-decoration: none;
	color: #054673;
	font-size: 18px;
	margin-right: 20px;
}
.menu a:hover{
	border-bottom: 4px solid #054673;
	font-size: 18.3px;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
nav{
	height: 60px;
}
.slider{
	background-color: #cef;
	height: 400px;
	margin-bottom: 20px;
}
.slider .img{
	height: 400px;
	width: 600px;
	position: relative;
}
.slider .img p{
	font-size: 18px;
	padding: 10px 20px;
	background-color: rgba(200, 240, 255, 0.7);
	position: absolute;
	width: 580px;
	bottom: 0px;
	left: 0px;
}
.right .caption{
	background-color: #054673;
	width: 260px;
	height: 320px;
	padding: 40px;
	color: #cef;
}
h3{
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 500;
	text-align: center;
}
.caption li{
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 20px;
	background-image: url("../images/icons/marker.png");
	background-repeat: no-repeat;
	padding-left: 30px;
}
.mid{
	border-top: 1px solid #777;
	height: 470px;
	background-color: #f1f1f1;
}
.mid .headline{
	margin-top: 20px;
	margin-bottom: 20px;
}
.hit-row-1 li{
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}
.hit-row-1 li:first-child{
	margin-left: 0px;
}
.portfolio{
	border-top: 1px solid #777;
	background-color: #fff;
	height: 450px;
	margin-bottom: 20px;
}
.portfolio .headline{
	margin-top: 20px;
	margin-bottom: 20px;
}
.portfolio .left{
	height: 380px;
	width: 460px;
}
.portfolio .right{
	height: 380px;
	width: 480px;
}
.portfolio .right li img{
	float: right;
	height: 180px;
	width: 220px;
	margin-bottom: 20px;
	margin-left:20px;
}
.footer{
	height: 240px;
	background-color: #054673;
	color: #cef;
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
}
.footer .info a{
	color: #cef;
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
}
.footer h3{
	color: #cef;
	text-align: left;
}
.footer .info{
	width: 220px;
	margin-right: 20px;
	float: left;
}
.footer .adress{
	width: 220px;
	margin-right: 20px;
	float: left;
}
.footer .adress img{
	margin-top: 10px;
}
.footer .avtor{
	margin-top: 20px;
}
.copyright .like{
	height: 100px;
}
.copyright .like h5{
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
	margin-right: 30px;
}
.copyright .like li{
	margin-top: 20px;
	float: left;
	margin-right: 20px;
	padding: 0px 20px;
	font-size: 12px;
}
.copyright .like li:nth-child(1){
	color: #9F9F9F;
	background-image: url("../images/icons/twitter.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.copyright .like li:nth-child(2){
	color: #9F9F9F;
	background-image: url("../images/icons/facebook.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.copyright .like li:nth-child(3){
	color: #9F9F9F;
	background-image: url("../images/icons/vk.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.copyright .like li:nth-child(4){
	color: #9F9F9F;
	background-image: url("../images/icons/ok.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}